<html>
<body>
<h2 style="text-align:center">Your HeeBGB fractal design</h2>
<img src="/{{ value }}" width=50% style="display:block; margin-left:auto; margin-right:auto; width:50%; max-width:400px; height:auto;" />
<p style="text-align:center"><strong>Affine Mapping:</strong> {{ affinemap }}</p>
<p style="text-align:center"><strong>Color Mapping:</strong> {{ colormap }}</p>
<p style="text-align:center"><strong>Iterations:</strong> {{ iterations }}</p>
</body>
</html>